aiohttp==3.7.4.post0
aiomysql==0.0.22
async-timeout==3.0.1
attrs==22.1.0
cffi==1.15.1
chardet==4.0.0
cryptography==37.0.4
discord.py==1.7.3
emoji==2.0.0
glicko2==2.0.0
idna==3.3
multidict==6.0.2
prettytable==3.3.0
pycparser==2.21
PyMySQL==0.9.3
six==1.16.0
trueskill==0.4.5
typing_extensions==4.3.0
wcwidth==0.2.5
yarl==1.8.1
